extends adminlayout
block content
    a(href="/admin/logout", id="logout", title="Logout")
        span.fas.fa-sign-out-alt
    .top-links
        h3(style="color: #aaa;")
            a(href="/admin") Add Article
        h3(style="border-bottom: 1.5px solid #333;") Delete Article
    .article-list
        each article, i in articles
            if i % 2 == 0
                p(class="even-item")
                    a(href="/article/"+article.url)= article.title
                    a(href="/admin/deletearticle/"+article.id, onclick="return confirm('Are you sure you want to delete the article?')") Delete
            else
                p(class="odd-item")
                    a(href="/article/"+article.url)= article.title
                    a(href="/admin/deletearticle/"+article.id, onclick="return confirm('Are you sure you want to delete the article?')") Delete