extends adminlayout
block content
    a(href="/admin/logout", id="logout", title="Logout")
        span.fas.fa-sign-out-alt
    .top-links
        h3(style="border-bottom: 1.5px solid #333;") Add Article
        h3
            a(href="/admin/deletearticle") Delete Article
    form(action="/admin/submit", method="POST")
        input(type="text", name="title", placeholder="Title", required, autofocus)
        input(type="subtitle", name="subtitle", placeholder="Subtitle", required)
        .field1
            select(name="category", required)
                option(value="", selected, disabled) Select Category
                option(value="desh-videsh") देश-विदेश
                option(value="bihar-breaking") बिहार ब्रेकिंग
                option(value="raajneeti") राजनीति
                option(value="sampaadkiya") संपादकीय
                option(value="vyakti-vishesh") व्यक्ति-विशेष
                option(value="paryatan") पर्यटन
                option(value="khel-jagat") खेल जगत
                option(value="manoranjan") मनोरंजन
                option(value="aapke-sandesh") आपके संदेश
            .date-time-field
                .date-field
                    select(name="dayselect", required)
                        option(value="", selected, disabled) Day
                        - var n = 1
                        while n <= 31
                            option(value=n)= n++
                    select(name="monthselect", required)
                        option(value="", selected, disabled) Month
                        - var months = ['Jan', 'Feb', 'Mar', 'Arp', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
                        each month, i in months
                            option(value=month)= month
                    select(name="yearselect", required)
                        option(value="", selected, disabled) Year
                        - var year = new Date().getFullYear()
                        - var yearCounter = year
                        while yearCounter >= year - 50
                            option(value=yearCounter)= yearCounter--
                .time-field
                    input(type="number", name="hour", min="0", max="24", placeholder="00", required)
                    input(type="number", name="minute", min="0", max="59", placeholder="00", required)
        .field2
            input(type="text", name="by", placeholder="Author", required)
            input(type="text", name="location", placeholder="Location", required)
        input(type="text", name="imgurl", placeholder="Image URL", required)
        input(type="text", name="imgcaption", placeholder="Image Caption", required)
        textarea(name="para1", placeholder="Content Para 1", required)
        textarea(name="para2", placeholder="Content Para 2")
        textarea(name="para3", placeholder="Content Para 3")
        textarea(name="para4", placeholder="Content Para 4")
        textarea(name="para5", placeholder="Content Para 5")
        .submitreset
            input(type="submit", name="submit", value="Post")
            input(type="reset", name="clear", value="Clear")